@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


aside {
    background-color: #F9F871;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid black;
}

footer {
    text-align: center;
}

body {

    background-color: #ffffff;
}



u {
    text-decoration-color: rgb(230, 211, 211);
}



h3 {
    text-align: center;
    margin-top: 0.5rem;
}

#about-me {
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1677830181832-f3216c0bd82e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
    background-size: cover;
    transition: background-color 3s ease;
}


.card>div:hover {
    background-image: none;
    background-color: white;
    transition: background-color 0.7s ease;

}

.card>table:hover {
    background-image: none;
    background-color: white;
    transition: background-color 0.7s ease;

}

#about-me>h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

#Estudios {
    background-image: url(https://images.unsplash.com/photo-1677856216846-596a3d6d869e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

#Estudios>h3 {
    font-family: 'Oswald', sans-serif;

}

#Experiencia {
    background-image: url(https://images.unsplash.com/photo-1677856217601-6e8d06601aaa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

#Experiencia>h3 {
    font-family: 'Merriweather', serif;
}

#Conocimientos {
    background-image: white;
    background-image: url(https://images.unsplash.com/photo-1677827635012-d9c18b4dab68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1202&q=80);
    background-size: cover;
}

#Conocimientos>h3 {
    font-family: 'Titillium Web', sans-serif;
}

@keyframes ejemplo {
    0% {
        background-color: white;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: white;
        left: 0px;
        top: -20px;
    }

    75% {
        background-color: lightgray;
        left: 0px;
        top: 20px;
    }

    100% {
        background-color: white;
        left: 0px;
        top: 0px;
    }
}