{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
          <a class="navbar-brand ms-2" href="/"> <img src="{% static 'assets/logo.png' %}" 
                    alt="Logo" width="40" class="d-inline-block align-text-top">
            Banco Simi
          </a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
              {% if rol == 'Operador' %}
                <a class="nav-link " aria-current="page" href="/users">Listado Usuarios</a>
              {% endif %} 
              <a class="nav-link" href="/logout">Cerrar sesión</a>
            </div>
            
          </div>
        </nav>
    </header>

    <!-- Contenido de la página -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer ms-3">
      <p>&copy; 2023 BancoSimi. Todos los derechos reservados.</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
